.App > table {
  width: 100%;
}

.validation-tag-error > #customSelect {
  border-left: 2px solid #a9123d;
}

.validation-tag-ok > #customSelect {
  border-left: 2px solid #2864ff;
}

img {
  max-width: 40%;
  height: auto;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");

:root {
  --color-primary: #2864ff;
  --color-eggplant: #3c465a;
  --color-grey: #858b98;
  --color-light_grey: #d8dade;
  --color-lightest_grey: #ebecee;
  --color-light_blue: #f4f7ff;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-ocean);
  font-weight: 500;
}

a:hover,
a:visited:hover {
  text-decoration: underline;
  color: var(--color-ocean);
}

.button-container {
  display: flex;
  margin: 16px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container h3 {
  width: 100%;
}

.button {
  display: flex;
  overflow: hidden;
  margin: 8px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
}

.button.large {
  padding: 16px;
}

.button.medium {
  padding: 12px;
}

.button.small {
  font-size: 12px;
  padding: 8px;
}

.button.widebutton {
  width: 100%;
}

.button.autoleftbutton {
  margin-left: auto;
}

.button.shrink20 {
  width: 20%;
}

.button:active {
  position: relative;
  bottom: -1px;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-primary {
  color: white;
  background: var(--color-primary);
}

.button.-primary.disabled {
  color: var(--color-grey);
  background: var(--color-light_grey);
}

.button.-primary.disabled:hover {
  opacity: 1;
  cursor: default;
}

.button.-primary.disabled:active {
  position: relative;
  bottom: 0px;
}

.button.-secondary {
  color: var(--color-eggplant);
  background: transparent;
  border: 2px solid var(--color-eggplant);
}

@media screen and (min-width: 800px) {
  .button.-secondary:hover {
    color: white;
    background-color: var(--color-eggplant);
    opacity: 1;
  }
}

.button.-tertiary {
  color: var(--color-eggplant);
  background: var(--color-tertiary);
}

@media screen and (min-width: 800px) {
  .button.-tertiary:hover {
    background: var(--color-lightest_grey);
    opacity: 1;
  }
}

.button.-link {
  color: var(--color-eggplant);
  background: var(--color-tertiary);
}

@media screen and (min-width: 800px) {
  .button.-link:hover {
    color: var(--color-primary);
    opacity: 1;
    text-decoration: underline;
  }
}

.App {
  margin: 10px;
}

#customSelect .css-bg1rzq-control {
  border-radius: 0px;
}

#customSelect.validation-tag-error .css-bg1rzq-control {
  border-left: 2px solid #a9123d;
}

#customSelect.validation-tag-ok .css-bg1rzq-control {
  border-left: 2px solid #2864ff;
}

.validation-error-message {
  color: #f44336;
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 8px;
  min-height: 1em;
  font-family: inherit;
  line-height: 1em;
}

.react-padding {
  padding: 0 0 0 10px;
}

/* Base for label styling */
.ws-checkbox:not(:checked),
.ws-checkbox:checked {
  position: absolute;
  left: -9999px;
}
.ws-checkbox:not(:checked) + label,
.ws-checkbox:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.ws-checkbox:not(:checked) + label:before,
.ws-checkbox:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #666;
  background: #fff;
  border-radius: 1px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
.ws-checkbox:not(:checked) + label:after,
.ws-checkbox:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #333;
  transition: all 0.2s;
}
/* checked mark aspect changes */
.ws-checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.ws-checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.tnc-hyperlinks {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: underline;
  cursor: pointer;
}

label > .tnc-hyperlinks :hover {
  color: #3c465a;
}
